@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    font-family: 'Roboto', sans-serif;
    background-image: url(https://images.ctfassets.net/3s5io6mnxfqz/7oQEtgEq0S8JS4ba3uND1N/ea9939730789f240f70a09cf09f39e3c/AdobeStock_193681211.jpeg) ;
    background-repeat: no-repeat;
    background-size: cover;
}
* {
    margin: 0;
    padding: 0;
}
.horizontal li{
    display: inline-table;
}
nav a{
    color:tomato;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    color : black;
}
i {
    margin-right: 10px;
}


input:focus,
button:focus,
.form-control:focus{
    outline: none;
    box-shadow: none;
}
.form-control:disabled, .form-control[readonly]{
    background-color: #fff;
}
.table tr,
.table tr td{
    vertical-align: middle;
}
.button-container{
    display: flex;
    align-items: center;
}
.button-container .form-control{
    max-width: 80px;
    text-align: center;
    display: inline-block;
    margin: 0px 5px;
}
#myTable .form-control{
    width: auto;
    display: inline-block;
}
.cart-qty-plus,
.cart-qty-minus{
    width: 38px;
    height: 38px;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.cart-qty-plus:hover,
.cart-qty-minus:hover{
    background-color:tomato;
    color: #fff;
}
.img-prdct{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 4px;
}
.img-prdct img{
    width: 150%;
}

thead tr{
    background-color:black;
    color: white;
}
.img-prdct{
    width:100px !important;
    height:100px !important;
}
.cart-qty-plus{
    background-color :black;
    color:white;
    font-weight: 600;
}
.cart-qty-minus{
    background-color :black;
    color:white;
    font-weight: 600;
}
p{
    text-align: center;
    color: black;
    font-weight: bolder;
}
h2{
    color:black;
    font-weight: bold;
}
.amount1,.amount2,.amount3,.amount4{
    color:black;
    font-weight: bolder;
}
